* {
    box-sizing: border-box;
    margin: 0 0 0;
}

/* 重置链接样式 */
a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: blink;
}

a:visited {
    text-decoration: none;
    color: #000000
}

a:hover {
    text-decoration: none;
    color: #a883ff;
}

/* 重置文本样式 */
h1 {
    font-size: 40px;
    color: #3b3b3d;
    letter-spacing: 5px;
    font-weight: 600;
}

h2 {
    font-size: 28px;
    color: #67A4A4;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 34px;
}

h3 {
    font-size: 20px;
    color: #3b3b3d;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 30px;
}

h4 {
    font-size: 16px;
    color: #3b3b3d;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
}

.en_h2 {
    line-height: 30px;
    font-size: 16px;
    color: #67A4A4;
}

.en_h3 {
    line-height: 24px;
    font-size: 16px;
    color: #3b3b3d;
    letter-spacing: 1px;
}

p {
    color: #666666;
    line-height: 32px;
    font-size: 16px;
}

.text {
    font-size: 14px;
    line-height: 30px;
}

.en_style {
    color: #999999;
    line-height: 26px;
    font-size: 14px;
}


/* header */
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.8)
}

.header_main {
    position: relative;
    margin: 0 auto;
}

.logo {
    float: left;
    top: 0;
    height: 60px;
    width: 60px;
    margin-top: -60px;
    padding: 8px 0 10px;
    opacity: 0.8;
}

.topnav {
    position: relative;
    text-align: right;
}

.work,
.blog,
.resume,
.about {
    text-align: center;
    line-height: 60px;
    margin-left: 60px;
    list-style: none;
    display: inline-block;
}

/* content */
#content {
    margin: 0 auto;
    padding: 60px 0 0;
}

/* part1 */
.part1 {
    margin: 0 auto;
    padding: 4% 0 6%;
    text-align: center;
    background-color: #fafafa
}

.basic_information {
    margin: 2% 0 2%;
    padding: 20px;
    text-align: center;
    border-bottom: #d4d6d4 solid 1px;
}

.table_title {
    color: #aaaaaa;
    letter-spacing: 3px;
    margin-left: 6%;
}

.table_content {
    letter-spacing: 2px;
    color: #999999;
}

.show1 {
    padding: 2%;
}

.show1>img {
    display: block;
    margin: 0 auto;
    padding: 0 0 3%;
    max-width: 56%;
}

.brief_introduction {
    padding: 0 0 2%;
}

.en_brief_introduction {
    color: #999999;
    line-height: 26px;
    font-size: 14px;
}


/* part2 */
.part2 {
    display: flex;
    flex-wrap: wrap;
    padding: 6% 0 6%;
    background-color: #ffffff;
}

.part2_content {
    justify-content: space-around;
    padding: 0 12% 0;
}

.part2_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

.background {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.background>img {
    margin-left: 5%;
    width: 35%;
}

/* part3 */
.part3 {
    background-image: url(../src/img/jpg/emgt_target.jpg);
    background-size: 100%;
}

.part3_mask {
    background-color: rgba(0, 0, 0, 0.7);
}

.part3_content {
    padding: 6% 12% 6%;
}

.part3_content>h2 {
    text-align: center;
    padding: 0 0 4%;
    color: #ffffff;
}

.part3_content>p,
.part3_content>h2>p {
    text-align: center;
    color: #ffffff;
}


/* part4 */
.part4 {
    padding: 6% 0 6%;
    background-color: #ffffff;
}

.part4_content {
    padding: 0 12% 0;
}

.part4_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

/** 环保意识 **/
.environmentawareness {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 0 0 6%;
    border-bottom: #d4d6d4 solid 1px;
}

.environmentawareness_content {
    padding-left: 5%;
    text-align: center;
}

.environmentawareness_content>img {
    max-width: 90%;
}

/** 能源数据 **/
.energydata {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 6% 0 6%;
}

.energydata_content {
    padding-left: 5%;
    text-align: center;
}

.energydata_content>p {
    padding: 3% 0 0;
}

.energydata_content>img {
    max-width: 70%;
}


/* part5 */
.part5 {
    padding: 6% 0 6%;
    background-color: #fafafa;
}

.part5_content {
    padding: 0 12% 0;
}

.part5_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

/** 访谈 **/
.interview {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 0 0 6%;
    border-bottom: #d4d6d4 solid 1px;
}

.interview_content {
    padding-left: 5%;
}

.interview_question {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0 0;
}

.interview_question>img {
    max-width: 30%;
    margin-right: 5%;
}

/** 调研洞察 **/
.insights {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 6% 0 0;
}

.insights_content {
    display: flex;
    flex-wrap: row;
    padding-left: 5%;
}

.insights_bg {
    padding: 5%;
    margin: 0 10px 0 10px;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 20px 0 20px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.06);
}

.insights_bg>h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #666666;
}


/* part6 */
.part6 {
    background-color: #ffffff;
}

.part6_content {
    padding: 6% 12% 6%;
}

.part6_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

/** 用户画像 **/
.persona {
    display: flex;
    flex-wrap: row;
    padding-bottom: 4%;
}

.persona_basic {
    max-width: 40%;
    margin-right: 5%;
}

.persona_basic>img {
    max-width: 100%;
    margin-bottom: 3%;
}

.persona_member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.persona_member>p {
    line-height: 20px;
}

.persona_story>.text {
    margin-bottom: 3%;
}

.persona_painpoint,
.persona_taskgoal {
    margin-right: 4%;
}


/* part7 */
.part7 {
    padding: 6% 0 6%;
    background-color: #67A4A4;
}

.part7_content {
    padding: 0 25% 0;
}

.part7_content>h2 {
    text-align: center;
    padding: 0 0 4%;
    color: #ffffff;
}

.part7_content>p,
.part7_content>h2>p {
    color: #ffffff;
}


/* part8 */
.part8 {
    padding: 6% 0 6%;
    background-color: #fafafa;
}

.part8_content {
    padding: 0 12% 0;
}

.part8_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

/** 设计机会 **/
.opportunity {
    display: flex;
    flex-wrap: row;
    padding-bottom: 6%;
}

.opportunity_content {
    padding-left: 5%;
}

.opportunity_content>img {
    margin: 3% 0 5%;
}

/** 最终机会 **/
.final_opportunity {
    display: flex;
    flex-wrap: row;
    text-align: left;
}

.final_opportunity_bg {
    padding: 3%;
    margin: 0 10px 0 0;
    max-width: 250px;
    background-color: #67A4A4;
    border-radius: 20px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.06);
}

.final_opportunity_bg>h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ffffff;
}

.final_opportunity_bg>p {
    color: #ffffff;
}

/* part9 */
.part9 {
    padding: 6% 0 6%;
    background-color: #ffffff;
}

.part9_content {
    padding: 0 12% 0;
}

.part9_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

/** 草图 **/
.sketch {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 0 0 6%;
    border-bottom: #d4d6d4 solid 1px;
}

.sketch_content {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    padding-left: 5%;
}

.sketch_content>img {
    max-width: 30%;
}

/** 低保真 **/
.lofi {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 6% 0 6%;
    border-bottom: #d4d6d4 solid 1px;
}

.lofi_content {
    padding-left: 5%;
}

.lofi_content>p {
    padding-bottom: 20px;
}

.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.test>img {
    max-width: 200px;
    padding-bottom: 6%;
}

.lofi_content>img {
    max-width: 400px;
}

/** 流程 **/
.flow {
    display: flex;
    flex-wrap: row;
    text-align: left;
    padding: 6% 0 0;
}

.flow_content {
    padding-left: 5%;
}

.flow_content>img {
    max-width: 800px;
}


/* part10 */
.part10 {
    padding: 6% 0 6%;
    background-color: #fafafa;
}

.part10_content {
    padding: 0 12% 0;
}

.part10_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

.design_brief {
    text-align: center;
}

/** 流程 **/
.principle {
    display: flex;
    flex-wrap: row;
    padding: 6% 0 8%;
}

.principle_content {
    display: flex;
    flex-wrap: row;
    padding-left: 5%;
}

.principle_content>img {
    max-width: 700px;
}

/** 高保真 **/
.hifi {
    display: flex;
    flex-wrap: row;
}

.hifi_content {
    text-align: center;
}

.hifi_content>img {
    max-width: 200px;
}


/* part11 */
.part11 {
    padding: 6% 0 6%;
    background-color: #ffffff;
}

.part11_content {
    padding: 0 12% 0;
}

.part11_content>h2 {
    text-align: center;
    padding: 0 0 4%;
}

.scenario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scenario>img {
    max-height: 250px;
}


/* part12 */
.part12 {
    padding: 6% 0 6%;
    background-color: #fafafa;
}

.part12_content {
    padding: 0 20% 0;
}

.part12_content>h2 {
    padding: 0 0 4%;
    text-align: center;
}


/* footer */
footer {
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer_main {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

.footer_work,
.footer_blog,
.footer_resume {
    margin: 50px 0 0;
    min-width: 300px;
}

.footer_about {
    margin: 50px 0 0;
    right: 0;
}

.title {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.item {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    font-size: 14px;
    ;
    color: rgba(255, 255, 255, 0.5);
    line-height: 46px;
}

.item>a:link {
    color: rgba(255, 255, 255, 0.5);
}

.item>a:visited {
    color: rgba(255, 255, 255, 0.5);
}

.item>a:hover {
    color: #a883ff;
}

.about_me {
    margin: 0 0 40px;
    font-size: 14px;
    ;
    color: rgba(255, 255, 255, 0.5);
    line-height: 28px;
}

.footer_media {
    display: flex;
}

.footer_media>a {
    width: auto;
    height: 100%;
    margin-right: 20px;
}

.footer_media>a:link {
    color: rgba(255, 255, 255, 0.5);
}

.footer_media>a:visited {
    color: rgba(255, 255, 255, 0.5);
}

.footer_media>a:hover {
    color: #a883ff;
}

.footer_copyright {
    margin: 0 auto;
    text-align: center;
    margin: 40px 0 0;
    font-size: 14px;
    color: #aaaaaa;
}

/* 响应式 */
@media screen and (max-width: 600px) {

    .header_main,
    .color,
    .footer_main {
        max-width: 600px;
    }

    .topnav {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        background: rgba(255, 255, 255, 1)url(https://www.easyicon.net/api/resizeApi.php?id=1225479&size=32) no-repeat 10px 11px;
    }

    .work,
    .blog,
    .resume,
    .about {
        display: none;
        /* hide all <li> items */
        margin: 0;
    }

    /* on nav hover */
    .topnav:hover {
        width: 150px;
        height: 240px;
        background-image: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    .topnav:hover li {
        display: block;
        margin: 0;
        padding: 0;
    }

    .article {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 600px) {

    .header_main,
    .color,
    .footer_main {
        min-width: 600px;
    }

    .article {
        flex-basis: 48%;
    }
}

@media screen and (min-width: 900px) {

    .header_main,
    .color,
    .footer_main {
        max-width: 1200px;
    }

    .article {
        flex-basis: 32%;
    }
}

@media screen and (min-width: 1600px) {

    .header_main,
    .color,
    .footer_main {
        max-width: 1600px;
    }

    .article {
        flex-basis: 23.8%;
    }
}